@page "/summary"
@using GoodHamburguer.Models
@inject IHttpClientFactory ClientFactory

<PageTitle>Checkout</PageTitle>

<h3 class="text-center" style=" font-family: 'BiteChalk' ; font-size: 64px;">Order Summary</h3>

@if (order == null)
{
    <p>Loading...</p>
}
else
{
    <div class="text-center">
        <h4 class="desc-text">Order #@order.orderId</h4>
        <p class="desc-text">Customer: @order.customer</p>

        <table class="summary-table bg-red2">
            <tbody>
                @foreach (var item in order.items)
                {
                    <tr class="bg-red2">
                        <td>@item.name</td>
                        <td>@item.qty</td>
                        <td>$ @item.price</td>
                    </tr>
                }
            </tbody>
        </table>

        <h3 class="desc-text">Total: $ @order.total</h3>
    </div>
}

@code {
    private dynamic? order;

    protected override async Task OnInitializedAsync()
    {
        var client = ClientFactory.CreateClient("api");
        order = await client.GetFromJsonAsync<OrderSummaryDTO>("api/Order/Summary");

    }
}
